{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    // TODO: set policy on 'use strict'. Currently: disallowing strict mode directives
    "strict": "off",
    // Allow _id on mongo id attributes
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    // Tolerate String extension for hashcode needed for Set
    "no-extend-native": [
      "error",
      {
        "exceptions": [
          "String"
        ]
      }
    ],
    // Those are not typos and are used for hashcode definition
    "no-bitwise": [
      "error",
      {
        "allow": [
          "<<",
          "|="
        ]
      }
    ],
    // Allow devDependencies for tests
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js"
        ]
      }
    ]
  }
}